<div class="pagination-root">
    {{#if prev}}
        <a class="previous-button" href="{{page_url prev}}">Prev</a>
    {{else}}
        <span class="previous-button" href="#">Prev</span>
    {{/if}}

    <span class="page-number">{{page}} of {{pages}}</span>

    {{#if next}}
        <a class="next-button" href="{{page_url next}}">Next</a>
    {{else}}
        <span class="next-button" href="#">Next</span>
    {{/if}}
</div>