{{!< default}}

<main role='main' class="container">
  {{#post}}
  <h1 class="display-1">{{title}}</h1>
  <p class="lead">
    {{excerpt}}
  </p>

  {{content}}

  {{/post}}
</main>

<script src="{{asset "assets\js\jquery.slim.min.js"}}"></script>
<script src="{{asset "assets\js\popper.js"}}"></script>
<script src="{{asset "assets\js\bootstrap.min.js"}}"></script>
