{{!< default}}

<main role='main' class="container">
  {{#post}}
    <h1 class="display-1">{{title}}</h1>
    <p class="lead">
      {{excerpt}}
    </p>

    {{content}}
  {{/post}}
</main>

<script>
    var randomScalingFactor = function() {
    return Math.round(Math.random() * 100);
    };

    var colors = [
      "#4880C1",
      "#4880C1",
      "#4880C1",
      "#4880C1",
      "#4880C1",
      "#4880C1",
      "#4880C1",
      "#4880C1"
    ];

    window.onload = function() {
    var langConfig = {
      type: 'horizontalBar',
      data: {
        labels: [
        "Java",
        "Python",
        "C/C++",
        "HTML/CSS",
        "JavaScript",
        "Node.js",
        "MySQL",
        "PHP",
        ],
        datasets: [
        {
          data: [75, 72, 68, 65, 62, 55, 50, 37],
          backgroundColor: colors,
          hoverBackgroundColor: colors
        }
        ]
        },
        options: {
          scales: {
          xAxes: [{
            display: false,
            ticks: {
              min: 0,
              max: 100,
            }
          }],
          yAxes: [{
            ticks: {
              fontSize: 20,
              fontColor: "#111",
              fontFamily: "Segoe UI, sans-serif"
            }
          }]
        },
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        }
      }
    };

    var ctx1 = document.getElementById("lang-chart").getContext("2d");
    window.myPie = new Chart(ctx1, langConfig);

    var smalLangConfig = jQuery.extend(true, {}, langConfig);
    smalLangConfig.options.scales.yAxes = [{
      ticks: {
        fontSize: 14,
        fontColor: "#111",
        fontFamily: "Segoe UI, sans-serif"
      }
    }];
    console.log(smalLangConfig);
    var ctx2 = document.getElementById("sm-chart").getContext("2d");
    window.graph2 = new Chart(ctx2, smalLangConfig);
    };
</script>

<script src="{{asset "assets\js\jquery.slim.min.js"}}"></script>
<script src="{{asset "assets\js\popper.js"}}"></script>
<script src="{{asset "assets\js\bootstrap.min.js"}}"></script>
