{{!< default}}

<div class="page-navbar-wrapper">
    {{navigation}}
</div>

{{#post}}
  <div class="post-header-root" style="background-image: url({{feature_image}});">
    <div class="image-overlay"></div>
    <div class="post-details">
      {{#has tag="Projects"}}
        <span>Projects /</span>
      {{else}}
        {{#has tag="blog"}}
          <span>Blog /</span>
        {{else}}
          <span>/</span>
        {{/has}}
      {{/has}}

      <h1 class="title">{{title}}</h1>
      <h3>{{date format="MMMM DD, YYYY"}}</h3>
    </div>
  </div>
  <div class="page-root">
    {{content}}

    {{#has tag="Blog"}}
      <div class="comments-section">
        <h2>Comments</h2>
        <div id="disqus_thread" class="col-lg-12"></div>
      </div>
      
      <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var disqus_config = function () {
        this.page.url = "{{url absolute="true"}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "ghost-{{comment_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://thomasfuller-codes.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{/has}}
  </div>
{{/post}}

{{> footer}}