{{!< default}}

<main role='main' class="container">
  <h1 class="display-1">Projects</h1>
  <p class="lead">
    A collection of projects that I am passionate in working on.
  </p>

  <div class="section d-none d-sm-none d-md-block">
    <h1>Tags</h1>
    <div class="section-sm">
      {{#get "tags" limit="all"}}
        {{#foreach tags}}
          {{^has slug="blog"}}
            {{^has slug="projects"}}
              <a class="btn btn-yellow btn-sm" href="{{url absolute="true"}}" role="button">{{name}}</a>
            {{/has}}
          {{/has}}
        {{/foreach}}
      {{/get}}
    </div>
  </div>

  <div class="section-lg">
    <h1>Browse Projects</h1>

    <div class="section-sm">
      <div class="row">
        {{#foreach posts}}
          <div class="col-lg-6">
            <a class="card-link" href="{{url absolute="true"}}">
              <div class="card">
                <img class="card-img-top" src="{{img_url feature_image}}" alt="Card image cap">
                <div class="card-img-overlay">
                  <h4>{{#if featured}}<span class="badge badge-yellow"> Featured</span>{{/if}}</h4>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{title}}</h4>
                  <p class="card-text"><small class="text-muted">{{date format="MMMM DD, YYYY"}}</small></p>
                  <p class="card-text">{{excerpt words="30"}}...</p>
                </div>
              </div>
            </a>
          </div>
        {{/foreach}}
      </div>

      <div class="text-center pagination-yellow">
        {{pagination}}
      </div>
    </div>
  </div>
</main>

<script src="{{asset "assets\js\jquery.slim.min.js"}}"></script>
<script src="{{asset "assets\js\popper.js"}}"></script>
<script src="{{asset "assets\js\bootstrap.min.js"}}"></script>
